<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="rr1_link" params="name mesh_file *origin *inertial">

        <!-- Create a link with a given name. -->
        <link name="${name}">

            <!-- Create a visual component using a provided mesh file -->
            <visual>
                <xacro:insert_block name="origin" />
                <geometry>
                    <mesh filename="package://rr1_description/mesh/visual/${mesh_file}.dae"
                        scale="${model_scale}" />
                </geometry>
            </visual>

            <!-- Create a collision component using a provided mesh file -->
            <collision>
                <xacro:insert_block name="origin" />
                <geometry>
                    <mesh filename="package://rr1_description/mesh/collision/${mesh_file}.stl"
                        scale="${model_scale}" />
                </geometry>
            </collision>

            <!-- Insert provided inertial block -->
            <xacro:insert_block name="inertial" />
        </link>

    </xacro:macro>

    <xacro:macro name="ros2_control_joint" params="name min_lim max_lim">

        <joint name="${name}">
            <command_interface name="position">
                <param name="min">${min_lim}</param>
                <param name="max">${max_lim}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>

    </xacro:macro>

</robot>