<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo's ros2_control plugin -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
            <parameters>$(find rr1_description)/config/rr1_controller.yaml</parameters>
            <ros>
                <namespace>/$(arg ns)</namespace>
                <remapping>/tf:=/$(arg ns)/tf</remapping>
            </ros>
        </plugin>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <xacro:ros2_control_joint name="shoulder_joint"
            min_lim="-${PI*3/4}" max_lim="${PI*3/4}" />

        <xacro:ros2_control_joint name="upper_arm_joint"
            min_lim="-${PI/8}" max_lim="${PI/8}" />

        <xacro:ros2_control_joint name="elbow_joint"
            min_lim="-${PI/2}" max_lim="${PI/2}" />

        <xacro:ros2_control_joint name="forearm_joint"
            min_lim="-${PI*3/4}" max_lim="${PI*3/4}" />

        <xacro:ros2_control_joint name="wrist_joint"
            min_lim="0" max_lim="${PI}" />

        <xacro:ros2_control_joint name="hand_joint"
            min_lim="-${PI*3/4}" max_lim="${PI*3/4}" />

        <xacro:ros2_control_joint name="finger_joint"
            min_lim="0" max_lim="${PI*3/8}" />

        <xacro:ros2_control_joint name="opposite_finger_joint"
            min_lim="0" max_lim="${PI*3/8}" />

    </ros2_control>
</robot>